<app-home></app-home>


  <ul class="list-group">
    <li class="fw-bold list-group-item active" style="width: 20rem; " aria-current="true">{{breed.breed}}</li>
    <li class="list-group-item" style="width: 20rem; ">Breed: {{breed.country}}</li>
    <li class="list-group-item" style="width: 20rem; ">Country: {{breed.origin}}</li>
    <li class="list-group-item" style="width: 20rem; ">Coat: {{breed.coat}}</li>
    <li class="list-group-item" style="width: 20rem; ">Pattern: {{breed.pattern}}</li>
  </ul>